<html>
<head>
<title>Damiani Fashion :: Back Office - {% if not name %}Sign in or register{% else %}Logging out {{name}}{% endif %}</title>
</head>
<body style="background-color: #000000;">

<style>
a, a:link, a:visited { color: white; }
</style>

<div style="margin: 10px auto;background-color: cyan;height: 18px;border: 2px solid blue;width: 300px;text-align: center;vertical-align: middle;">
{% if not name %}
	<a href="{{link}}" id="loglink" title="Sign in or register">Sign in or register</a>
{% else %}
	<a href="{{link}}" id="loglink" title="Logging out {{name}}">Logging out: <b>{{name}}</b></a>
{% endif %}
</div>

<script type="text/javascript">
window.onload = function(){
	document.location.href = document.getElementById('loglink').href;
};
</script>

</body>
</html>