</div><div style="color: red; margin:0 auto;font-family: Verdana;font-weight: bold;text-align: center;clear:both;">Engine by <a style="color:blue;font-weight: bold;" href="http://www.google.com" title="Google App Engine">Google App Engine</a> and developed by <a style="color:blue;font-weight: bold;" href="http://www.baruffaldi.info" title="Filippo Baruffaldi">Filippo Baruffaldi</a></div>
</body>
</html>